/* Configurações básicas */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(255, 235, 235);
}


/* Estilos do contêiner:
-> centraliza todo o conteúdo da página
-> define a largura e a altura do container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 800px;
    height: 600px;
}




.main-heading {
    padding: 2rem 0 2rem 0;
}


.content {
    position: relative;
}


/* Estilos de conteúdo do carrossel */
/* Coloca o conteúdo do carrossel no
    centro do carrossel */
.carousel-content {
    position: absolute;


 /* Para centralizar o conteúdo horizontalmente
        e na vertical */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}


.carousel-heading {
    font-size: 3rem;
    color:rgb(245, 179, 179);
    margin-bottom: 1rem;
}




/* Slideshow configurações */
.slideshow {
    height: 100%;
    overflow: hidden;
/* Para ocultar slides na direção x */
    position: relative;
}


/* Wrapper que envolve todos os
    estilos de imagens de apresentação de slides */
.slideshow-wrapper {
    display: flex;


/* Para colocar mais imagens aumentar a width*/
    width: 600%;
    height: 100%;
    position: relative;


/* Alterar as configurações de animação */
    animation: slideshow 20s infinite;
}


/* Definir largura e altura para imagens */
.slide {
    width: 100%;
    height: 100%;
}


.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* @keyframes são usados para fornecer
animações*/
@keyframes slideshow {
    0% {
        left: 0;
    }


    10% {
        left: -100%;
    }


    20% {
        left: -100%;
    }


    25% {
        left: -200%;
    }


    30% {
        left: -200%;
    }


    40% {
        left: -300%;
    }


    50% {
        left: -300%;
    }


    60% {
        left: -400%;
    }


    70% {
        left: -400%;
    }
   
    80% {
        left: -500%;
    }


    90% {
        left: -500%;
    }


    /* 80% {
        left: -400%;
    }


    90% {
        left: -400%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
    110% {
        left: -200%;
    }
    120% {
        left: -200%;
    }
    120% {
        left: -100%;
    }
    130% {
        left: -100%;
    }
    135% {
        left: 0%;
    } */
 
}




/* Estilos dos botões de controle do carrossel */
.slide-btn {
    background-color: #000000;
    border-radius: 50%;
    border: .2rem solid #e60101;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;


    /*  Estilos para posicionar os
     botões na parte inferior do
     carrossel*/
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}


/* Como fornecemos a posição como absoluta,
os botões são colocados um sobre o outro.
Então, temos que colocá-los individualmente
em suas posições corretas */
.slide-btn-1 {
    left: 45%;
}


.slide-btn-2 {
    left: 50%;
}


.slide-btn-3 {
    left: 55%;
}


.slide-btn-4 {
    left: 60%;
}
.slide-btn-5 {
    left: 65%;
}
.slide-btn-6 {
    left: 70%;
}


/* Quando nos concentramos no botão específico,
a animação para naquela determinada
imagem à qual o botão está associado */
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}


.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}


.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}


.slide-btn-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}
.slide-btn-5:focus~.slideshow-wrapper {
    animation: none;
    left: -400%;
}
.slide-btn-6:focus~.slideshow-wrapper {
    animation: none;
    left: -400%;
}




/* Quando selecionamos o botão, ocorre
mudança de cor de fundo */
.slide-btn:focus {
    background-color: purple;
}
